<form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <!-- <label>Title</label><br> -->
    <input type="text" name="title" ngModel required #title="ngModel" placeholder="Title" />
    <div *ngIf="title.invalid">Please enter a title</div>
    <br>
    <!-- <label>Post</label><br> -->
    <textarea rows="6" name="body" ngModel required #body="ngModel" placeholder="Say something..."></textarea>
    <div *ngIf="body.invalid">Please enter text</div>
    <br>
    <button type="submit">Save Post</button>
</form>
<div>{{newPost}}</div>